* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
}

/* Page Layout */

.wrapper {
  display: flex;
}

.container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #ffe089;
  max-width: 960px;
}
.columns {
  display: flex;
  
}

.first {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin: auto;
}
.first input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  height: 5%;
  margin: 5px;
}
.first label {
  margin: 5px;
}
.first button {
  background-color: #49c78e;
  margin: 5px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  max-width: 50%;
  color: #FFFFFF;
}
.first button:hover {
  background-color: #76AEED;
}
.first button:active {
  background-color: #407FC7;
}
.second {
  border: none;
  margin-bottom: 10px;
}
.second legend {
  padding: 5px;
}
.second .radio-label {
  display: block;
  font-size: 14px;
}
.second input[type='radio'] {
  margin-top: 5px;
}
.second .radio-label,
.second input[type='radio'] {
  float: left;
}

.third {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin: auto;
}

